* {
  color: #555;
}

.homey {
	background: url("/images/background.jpg");
	background-repeat: no-repeat;
	min-height: 100%;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

input[type="text"] {
    width: 500px;
    height: 40px;
    margin-left: 400px;
}

.cover-heading {
	color: #555;
	text-align: center;
}

.lead {
	color: #555;
	text-align: center;
}

.zillowLogo {
	float: right;
}

.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
}

