* {
  color: #555;
}

.homey {
	background: url("/images/background.jpg");
	background-repeat: no-repeat;
	min-height: 100%;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}


.cover-heading {
	color: #2a2a2a;
  text-shadow: 0px 0px 40px rgba(255, 255, 255, 5);
	color: #555;
	text-align: center;
}

.lead {
	color: #2a2a2a;
  font-style: italic;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 5);
	color: #555;
	text-align: center;
}

.zillowLogo {
	float: right;
}

.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
}

.top-row {
  background-color: #f2f7fb;
}

.middle-row {
  background-color: #dae8f5;
}
.logey {
	background-repeat: no-repeat;
	min-height: 1000px;
}
.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
}

