.homey {
	background: url("/images/background.jpg");
	background-repeat: no-repeat;
	min-height: 1000px;

}

input[type="text"] {
    width: 500px;
    height: 40px;
    margin-left: 400px;
}

.cover-heading {
	color: black;
	text-align: center;
}

.lead {
	color: black;
	text-align: center;
}

.zillowLogo {
	float: right;
}

.logey {
	background: url("/images/backgroundR.jpg");
	background-repeat: no-repeat;
	min-height: 1000px;
}